<library path="src">
  <class name="RosPcl" type="rqt_pcl.pcl.RosPcl" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for visualizing a point cloud
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>PCL Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing a point cloud.</statustip>
    </qtgui>
  </class>
</library>
